*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
*{
	box-sizing: border-box;
}
/* HEADER STYLES */
.header{
	background: url("../img/top-background-min.jpg") no-repeat;
	background-size: cover;
	padding: 50px 60px;
}

.flexed-top{
	display: flex;
	flex-basis: 4;
}
.logo{
 flex-grow: 1;
}
.menu{
flex-grow: 3;

}
.menu ul{
	display: flex;
	padding: 25px;
	align-items: center;
	justify-content: flex-end;
}
.menu li{
	list-style: none;
	padding: 0 30px;
}
.menu li a{
	text-transform: uppercase;
	text-decoration: none;
	font-family: "Montserrat-ExtraLight";
	color: #a9ffcb;
	font-size:26px;
}

.top-section{
	margin-top: 122px;
}
.first-text, .second-text, .third-text{
	display: block;
	font-size: 20px;
	color: #a9ffcb;
}
.flower-wrap{
	margin: 0;
	padding: 0;
	display: block;
	width: 50%;
	float: left;
}
.flower-wrap img{
	width: 100%;
}
.top-slogan{
	width: 50%;
	float: right;
	padding-left: 50px;
}
.first-text{
	margin-top: 116px;
	margin-left: -72px;
	font-family: "OpenSans-ExtraBold";
	font-size: 70px;
}
.second-text{
	font-family: "Montserrat-ExtraBold";
	font-size: 97px;
	margin-top:50px;
}
.third-text{
	font-family: "OpenSans-Light";
	font-size: 90px;
	margin-top:30px;
}

/* AUTHOR SECTION */
.author {
	background-image: linear-gradient(#aa4686, #a4778b);
	padding: 60px;
	position: relative;
	height: 700px;
}

.author-text{
	color: #b6eea6;
	width: 50%;
}

.author-text h2{
	background: url('../img/hexagon.png') no-repeat right;
	height: 144px;
	font-family: "OpenSans"
	font-size: 30px;
	text-transform: uppercase;
}

.author-text p{
	font-family: "Montserrat-Light";
	font-size: 29px;
	text-align: justify;
	line-height: 34px;
}

.author-more{
	display: block;
	background: url(../img/rectangle-for-more.png) no-repeat;
	width:512px;
	height: 136px;
	color:#fff;
	font-family: "Montserrat-Light";
	text-transform: uppercase;
	text-align: center;
	line-height: 136px;
	font-size: 40px;
	padding-right: 101px;
	margin-top: 40px;
	position:absolute;
	bottom: 40px;
}

.author-name{
	width:589px;
	height:136px;
	z-index: 4;
	background: url('../img/author-button-form.png') no-repeat;
	display: block;
	position: absolute;
	bottom: 40px;
	right:506px;
	padding-left: 146px;
}

.author-fullname, .author-profession{
	display: block;
	font-family: "Montserrat-Light";
	color: #fff;
	height: 68px;
	line-height: 68px;
}

.author-fullname{
	font-size: 40px;
}

.author-profession{
	font-size: 33px;
}

.author-image img{
	position: absolute;
	top: 0;
	right: 0;
	margin-top: -20px;
	width:805px;
}


/* TECHNOLOGIES SECTION */
.technologies{
	padding: 30px 60px;
	background: #c0b298;
}
.technologies h2{
	font-family: "OpenSans-ExtraBold";
	font-size: 40px;
	text-align: right;
	text-transform: uppercase;
	color: #aa4586;
	margin-left: auto;
}

.techtop-wrapper{
	display: flex;
	align-items: center;
}

.button-see{
 border-radius:44px;
 height: 70px;
 background-color: #b6eea6;
 padding: 0 40px;
}

.button-see a{
	font-family: "Montserrat";
	color: #000;
	text-transform: uppercase;
	line-height: 70px;
	font-size: 18px;
}

.image-programming{
	background: url('../img/icons8-programming-100.png') no-repeat;
	width: 100px;
	height:100px;
	margin-left: 40px;
}

.technologies-column-wrapper{
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.technology-col-3{
	padding:60px 30px;
	width:auto;
}

.technology-header{
	display: flex;
	flex-basis: 4;
	justify-content: center;
	align-items: center;
	background-color: #b6eea6;
	border-radius: 50px 50px 0 0;
	padding: 0 20px;
}

.technology-icon{
	width:100px;
	height:100px;
	flex-grow: 1;
}

.technology-name{
	flex-grow: 3;
	color: #a4778b;
	font-family: "OpenSans-ExtraBold";
	font-size:40px;
}

.technology-description{
	background-color: #a9ffcb;
	margin: 0;
	padding: 45px;
	border-radius: 0 0 50px 50px;
	font-family: "Montserrat-Light";
	font-size: 20px;
	color:#a4778b;


}

.technology-divide-1 , .technology-divide-2{
	width:480px;
	min-height:100%;
	height:400px;
	margin: 0;
	padding: 0;
}
.full-width-divider{
	width:100%;

}

.technology-divide-1{
	background-image:
	url('../img/icons8-php-100.png'),
	url('../img/yii2.png'),
	url('../img/symfony.png');
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: center top, center center, center bottom;
}
.technology-divide-2{
	background-image:
	url('../img/xml.png'),
	url(../img/icons8-json-96.png),
	url(../img/icons8-github-96.png);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: center top, center center, center bottom;
}
/* ICON Classes */
.php-icon{
	background: url('../img/icons8-php-96.png')  no-repeat;
}

.database-icon{
	background: url('../img/icons8-database-circle-100.png') no-repeat;
}

.javascript-icon{
	background: url('../img/icons8-js-96.png') no-repeat;
}

.projects{
	padding: 30px 60px;
	background-color: #a9ffcb;
}

.projects h2{
	font-family: "Montserrat-Semibold";
	font-size: 39px;
	color: #aa4586;
	text-transform: uppercase;
}

.curriculum-vitae{}
.curriculum-vitae h3 {
	font-family:"PTSans";
	font-size: 33px;
}
.curriculum-vitae p {
	font-family: "OpenSans";
	font-size:24px;
}
